{% load static %}
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'pure-min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'side-menu.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'grids-responsive.css'%}">
<style>

	p{color:black;}

</style>
</head>
<body>
<div>

</div>
<div id = "layout">
    <a href="#menu" id="menuLink" class="menu-link">
    <span></span>
    </a>
	<div id ="menu">
		<div class ="pure-menu">
			<div>
				<span class ="step-links">
									{% if posts.has_previous %}
									<a href="?page={{posts.previous_page_number}}">previous</a>
									{% endif %}
									
									<span class="current">
										Page {{posts.number}} of {{posts.paginator.num_pages}}
									</span>
									
									{% if posts.has_next %}
									<a href="?page={{posts.next_page_number}}">next</a>
									{% endif %}
									
				</span>
			</div>		
		<div class ="search">
			<form class="pure-form" method = "GET" action="/search/">
				<input type ="text" name="search"/>				
			</form>
		</div>
		<a class ="pure-menu-heading">이야기</a>
		<ul class = "pure-menu-list">
			<li >
				<a class = "pure-menu-link" href = '/write/'>포스트쓰기</a>
			</li>
			<li>
				<a class = "pure-menu-link" href = '/register/'>회원가입</a>
			</li>
			{% if not check %}
			<li >
				<a class = "pure-menu-link" href = '/login/'>로그인</a>
			</li>
			{% else %}

			{% endif %}
			<li>
				<a class = "pure-menu-link" href = '/logout/'>로그아웃</a>
			</li>
		</ul>
		</br>
		<a class ="pure-menu-heading">태그</a>
		<ul class = "pure-menu-list">
				{% for p in tag %}
				<li >
				<a class = "pure-menu-link" href="/tag/{{p.tags}}">
				{{p.tags}}
				</a>
				</li>
				{% endfor %}
		</ul>
	</div>
	</div>
	<div id = "main">
		
		{% if check %}
		<div class ="header">
			<h1>목록</h1>
		</div>
		<p>코드보기 : https://github.com/deainpark/ </p>
		<div class="content">
			{% for p in posts %}
				<a href= "/{{p.id}}"><p>title:{{p.title}}</p></a>
				<p>User:{{p.user}}</p>
				<p>Email:{{p.user.email}}</p>
			{% endfor %}
		</div>
		{% else %}
		<div class="header">
			<p>로그인이 필요한 서비스입니다.</p>
							{% if form.errors %}
							<p>계정 이름과 비밀번호가 틀립니다.</p>
							{% endif %}
							<form class="pure-form" action ="{% url 'login' %}" method="post">
							{% csrf_token %}
									{{form.username.label_tag}}
									{{form.username}}
									{{form.password.label_tag}}
									{{form.password}}
								<input type="hidden" name="next" value="{{ next }}" id="password">
								<button type="submit" class="pure-button" value="login">로그인</button>
							</form>
							
			<p>혹은 회원가입하기</p>
				<a class="pure-button" href = '/register/'>회원가입</a>
		</div>
		{% endif %}
						
	</div>
</div>
<script src="{% static 'js/ui.js' %}"></script>
</body>