{% load staticfiles %}
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{% static 'pure-min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'grids-responsive-min.css' %}">
<style>
	.search{
		background-color:gray;
	}
</style>
</head>
<body>
<div class = "layout">
	<div class="search pure-menu">
		<div class="l-box pure-menu-heading">
			신규 작성 태그들:중복 표시 됩니다.
			<div class="pure-menu pure-menu-horizontal">
				<ul class="pure-menu-list">
					{% for p in posts %}
					<li class="pure-menu-item">
						<a href="/tag/{{p.tags}}">{{p.tags}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="pure-u-1-3">
			<form class="pure-form" method = "GET" action="/search/">
				<input type ="text" name="search"/>
				<input type ="submit" value="search"/>
			</form>
		</div>
	</div>
	<div class = "content">
		<div class="pure-g">
				<div >
					{% for p in posts %}
						<div class="title">
						<a href= "/{{p.id}}"><p>title:{{p.title}}</p></a>
						<p>사용자:{{p.user}}</p>
						<p>사용자:{{p.user.email}}</p>
						</div>
					{% endfor %}
				</div>
				<div>
					<button class="button-c pure-button" type="button" onclick = "location.href = '/write/'">글쓰기</button>
					<button class="button-c pure-button" type='button' onclick = "location.href = '/register/'">회원가입</button>
					<button class="button-c pure-button" type='button' onclick = "location.href = '/login/'">로그인</button>
					<button class="button-c pure-button" type='button' onclick = "location.href = '/logout/'">로그아웃</button>
				</div>
		</div>
		<div>
				<span class ="step-links">
						{% if posts.has_previous %}
						<a href="?page={{posts.previous_page_number}}">previous</a>
						{% endif %}
						
						<span class="current">
							Page {{posts.number}} of {{posts.paginator.num_pages}}
						</span>
						
						{% if posts.has_next %}
						<a href="?page={{posts.next_page_number}}">next</a>
						{% endif %}
				</span>
		</div>
	</div>
</div>
</body>