<head>
<meta charset="utf-8"/>
</head>

<style>
li{
	width: 500px;
	word-break: break-all;
}
textarea{
	width: 500px;
}
</style>
<div class="comment">
<ul>
<p>타이틀:{{post.title}}</p>
<p>생성일자:{{post.created}}</p>
<p>태그:<a href="/tag/{{post.tags}}">{{post.tags}}</a></p>
<p>포스트:{{post.posts}}</p>
{% for c in cmt %}
	<li>
		<p>코맨트 : <br>{{c.comment}}</p>
		<p>post_id<br>{{c.post.id}}</p>
		<p>cmt_id<br>{{c.id}}</p>
		<div class = "button">
			<button type="button" onclick = "location.href = '/cmt/delete/{{c.post.id}}/{{c.id}}'">댓글 삭제</button>
		</div>
		
	</li>
{% endfor %}
</ul>

<form method = "POST" action="/comment/">
	{% csrf_token %}
	<input type='hidden' name="post_id" value="{{post.id}}"/>
	<p><textarea style="resize: none;" id="comment" name="comment"></textarea></p>
	<p><input type ="submit" value="comment"/></p>
</form>
<a type='button' href= "/">home</a>
</div>